		<div class="footer_bar"></div>
		<div class="grey_background signature">
			Brian Truong<br />
			Co-founder & CEO<br />
			<%= mail_to 'brian@hellotoken.com', 'brian@hellotoken.com' %>
		</div>

	</body>
</html>