<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<style type="text/css" media="screen">
			h1 { font-size: 18px; font-family: sans-serif; }
			p { font-size: 15px; font-family: serif; }
			.header_bar { background: #FFBF3F; height: 30px; margin-bottom: 20px;}
			.footer_bar { background: #FFBF3F; height: 2px; margin-bottom: 3px;}
			.logo {text-align: center; }
			.grey_background { background: #f8f8f8; }
			.main_text { padding: 0 5px; }
			.signature { padding: 10px 5px; font-style: italic; }
			a { color: #FFBF3F; font-style: italic; }
		</style>
	</head>
	<body>
		<div class="header_bar"></div>
		<div class="logo">
			<%= image_tag root_url+image_url('ht_logo_small.png') %>
