<div class="row">
  <div class="small-12 columns">
    <div id="token-container" class="left-margin-align medium-padding-top">
      <div id="dummy-1"></div>
      <div class="ht-logo ht-logo-large"></div>
    </div>
  </div>
</div>