
<h2>
  hellotoken terms and conditions of use
</h2>

<h3>
  1. Terms
</h3>

<p>
  Thank you for using hellotoken’s products and services (“Services”).
</p>

<p>
  These Terms of Use (“TOU”) contain the terms under which hellotoken and its affiliates provide their Services to you and describe how the Services may be accessed and used.
</p>

<p>
  By accessing this web site, you are agreeing to be bound by hellotoken’s Terms of Use and Privacy Policy, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this website are protected by applicable copyright and trademark law. 
</p>

<p>
  If you will be using the Services on behalf of an organization, you agree to these Terms of Use on behalf of that organization and you represent that you have the authority to do so. In such case, “you” and “your” will refer to that organization.
</p>

<h3>
  2. Use License
</h3>

<ol type="a">
  <li>
    You are responsible for your conduct while using the Services. You must comply with the following requirements when using the Services. Under this license, you may not: 
    
    <ol type="i">
      <li>
        modify or copy downloaded software or materials from hellotoken;
      </li>
      <li>
        answer your own hellotoken questions or use any means to inflate completion rate artificially, if applicable, including manual methods;
      </li>
      <li>
        repurpose the materials for any other commercial purpose, or for any public display (commercial or non-commercial);
      </li>
      <li>
        resell or lease the Services (unless authorized by hellotoken in writing);
      </li>
      <li>
        attempt to decompile or reverse engineer any software contained on hellotoken's website;
      </li>
      <li>
        circumvent or attempt to circumvent any limitations that hellotoken imposes on your account;
      </li>
      <li>
        transmit any viruses, malware, or other types of malicious software, or links to such software, through the Services;
      </li>
      <li>
        remove any copyright or other proprietary notations from the materials; or
      </li>
      <li>
        use the Services to infringe the intellectual property rights of others, or to commit an unlawful activity.
      </li>
    </ol>
  </li>
  <li>
    This license shall automatically terminate if you violate any of these restrictions and may be terminated by hellotoken at any time. Upon terminating your viewing of these materials or upon the termination of this license, you must destroy any downloaded materials in your possession whether in electronic or printed format.
  </li>
</ol>

<h3>
  3. Fees and Payments
</h3>
<ol type="a">
  <li>
    You agree to pay to hellotoken any fees for each Service you purchase or use (including any overage fees), in accordance with the pricing and payment terms presented to you for that Service. Fees are due before the Service is administered. Fees paid by you are non-refundable, except as provided in these Terms or when required by law.
  </li> 
  <li>
    Unless otherwise stated, you are responsible for any taxes (other than hellotoken’s income tax) or duties associated with the sale of the Services, including any related penalties or interest (collectively, “Taxes”). You will pay hellotoken for the Services without any reduction for Taxes. If hellotoken is obliged to collect or pay Taxes, the Taxes will be invoiced to you, unless you provide hellotoken with a valid tax exemption certificate authorized by the appropriate taxing authority or other documentation providing evidence that no tax should be charged.
  </li>
</ol>

<h3>
  4. Disclaimer
</h3>

<p>
   The materials on hellotoken's web site are provided "as is". hellotoken makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties, including without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights. Further, hellotoken does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its Internet web site or otherwise relating to such materials or on any sites linked to this site.
</p>

<h3>
  5. Limitations
</h3>

<p>
  In no event shall hellotoken or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption,) arising out of the use or inability to use the materials on hellotoken's Internet site, even if hellotoken or a hellotoken authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.
</p>
      
<h3>
  6. Revisions and Errata
</h3>

<p>
  The materials appearing on hellotoken's web site could include technical, typographical, or photographic errors. hellotoken does not warrant that any of the materials on its web site are accurate, complete, or current. hellotoken may make changes to the materials contained on its website at any time without notice. hellotoken does not, however, make any commitment to update the materials.
</p>

<h3>
  6. Links
</h3>

<p>
  hellotoken has not reviewed all of the sites linked to its Internet web site and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by hellotoken of the site. Use of any such linked web site is at the user's own risk.
</p>

<h3>
  7. Site Terms of Use Modifications
</h3>

<p>
  hellotoken may revise these terms of use for its web site at any time without notice. By using this web site you are agreeing to be bound by the current version of these Terms and Conditions of Use.
</p>

<h3>
  8. Governing Law
</h3>

<p>
  Any claim relating to hellotoken's web site shall be governed by the laws of the State of Massachusetts without regard to its conflict of law provisions.
</p>

<p>
  General Terms and Conditions applicable to Use of a Web Site.
</p>



<h2>
  User Privacy policy
</h2>

<p>
  Your privacy is very important to us. Accordingly, we have developed this Policy in order for you to understand how we collect, use, communicate and disclose and make use of personal information. The following outlines our privacy policy for individuals who interact with surveys that we distribute across our network of bloggers and publications (“Network”).
</p>

<ul>
<ol type="a">
  <li>
    When you engage with a hellotoken survey on our Network, you agree to let us collect the following information and allow that the information can be used internally and sold to third parties (including our researcher/marketer customers). Keep in mind that this information allows us to support and pay publishers.
    <ol type="i">
      <li>
        Survey responses that you enter on hellotoken surveys
      </li>
      <li>
        Survey response metadata including information that can be derived your IP address and from cookies (including but not limited to geolocation, web browser type, device type). We will never share or sell your IP address to third parties.
      </li>
    </ol>
  </li>
  <li>
    We will collect and use personal information solely with the objective of fulfilling those purposes specified by us and for other compatible purposes, unless we obtain the consent of the individual concerned or as required by law. We do not collect any personally identifiable information from you.
  </li>
  <li>
    We will protect personal information by reasonable security safeguards against loss or theft, as well as unauthorized access, disclosure, copying, use or modification.
  </li>
  <li>
    We do not knowingly collect information from children under 13. If you are under the age of 13, please do not engage with hellotoken surveys across our Network. We encourage parents and legal guardians to monitor their children’s Internet usage and to help enforce our Privacy Policy, so that we do not collect information from children under 13. If you have reason to believe that a child under 13 years of age has provided data to hellotoken, please let us know, and we will work to purge that information from our databases.
  </li>
  <li>
    If you would like to opt out of our cookies or any other information collecting, we are happy to do that for you. Please email us at contact [at] hellotoken.com, and we will refrain from collecting any information from your computer.
  </li>

  <p>
    We are committed to conducting our business in accordance with these principles in order to ensure that the confidentiality of personal information is protected and maintained.
  </p>   

