<%= render 'layouts/logo' %>
<div class="row">
  <div class="small-12 columns">
    <h2>
      <%="About us" %>
    </h2>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <p>
      <b class="yellow">hellotoken</b>
      is content monetization for the future. It was founded by a team of Harvard computer scientists and blogging die-hards. We’ve felt the pain of trying to monetize our created content, so we started this company to make online publishing sustainable. We replace advertisements and paywalls with simple, one-click questions, giving bloggers the money to pursue their passions full-time.
    </p>
    <h3 class="small-margin-top">
      Publishers
    </h3>
    <p>
      Earn 10x more on your site than with ads. All we do is ask a simple question to users when they read an article or enter the site, and we can pay you 3 cents for each answer given.
    </p>
    <h3 class="small-margin-top">
      Researchers
    </h3>
    <p>
      Reach thousands of respondents for the questions that you have. Instead of waiting a few weeks or days to find answers to your ideas and questions, obtain feedback in minutes. Ask survey questions, compare your logo/product designs, and gather consumer insights through our simple and easy-to-use platform. Oh, and for less than half the price of anyone else out there.
    </p>  
    <h3 class="small-margin-top">
      Readers
    </h3>
    <p>
      Donate to blogs by doing nothing more than answering a question. In other words, we make it so that the blogs don’t charge you for their content. As you answer more questions, you'll decrease the number of ads that you see, too.
    </p>  
  </div>
</div>