<%= render 'layouts/logo' %>
<div class="row">
  <div class="small-12 columns">
    <h2 class="medium-margin-bottom">
      Question Writing Best Practices
    </h2>
  </div>
</div>
<!-- faq TODO:
  - add a table of contents at the top
  - size and bold question headers (the h3 tags)
  - center questions and answers appropriately
  - bold questions (the faq-question class)
  -->
<div class="row">
  <div class="small-12 columns ht-list">
      <ul>
        <li>Only ask one question at a time. “How much confidence do you have in hellotoken to become the greatest platform out there and stay humble to its roots?” is a two-pronged and an objectively difficult multiple choice question, though we know the answer is 110% and 110%.</li>
        <li>Questions should include all reasonable responses, and the response categories should not overlap. In other words, response options should be mutually exclusive.</li>
        <li>Avoid double negatives (e.g. Do you favor or oppose not allowing this law?) or unfamiliar abbreviations and jargon (you should all know FOMOO-HT, though, which means “fear of missing out on hellotoken”).</li>
        <li>Try to steer clear of questions that ask respondents whether they agree or disagree with a particular statement. Although this is not a steadfast rule, acquiescence bias forms when less informed respondents have a greater tendency to agree with agree-disagree statements.</li>
        <li>Refrain from questions that associate prestige with the information. Respondents will have a tendency to give higher-prestige response than the truth (e.g. information related to socioeconomic status, age, income, education level, occupation, place of birth, residence). We understand that sometimes these questions are necessary.</li>
        <li>Avoid questions that ask for personal information; people are generally unwilling to answer invasive questions. For example, don’t ask respondents on a date through your questions!</li>
        <li>Know your audience. If you want to ask a tech-related question, target your questions to tech-related blogs in order to gain the most relevant response.</li>
        <li>Simplify your question as much as possible; the longer the question and answer choices, the less likely you are to gain a valuable response.</li>
        <li>Maintain a consistent theme of continuity and phrasing throughout your questions.</li>
      </ul>
  </div>
</div>