<div class="row">
  <div class="small-12 columns">
    <div id="token-container" class="left-margin-align medium-padding-top">
      <div id="dummy-1"></div>
      <div class="ht-logo ht-logo-large"></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <h2>
      <%="Thanks for your interest in hellotoken!" %>
    </h2>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <p> Help us make sure you’re a real person by pressing the confirmation link that we are sending via email. (If you don’t see anything in 5 minutes, we may be in your spam folder). We hope you’re excited. </p>
    <p> In the meantime, support us on Facebook! </p>
  </div>
</div>
<br>
<div class="row">
  <div class="small-12 columns">
    <%= link_to "Facebook Page", "https://www.facebook.com/thehellotoken?fref=ts", class: "yellow-button" %>
    <%= link_to "Return Home", root_path, class: "yellow-button" %>
  </div>
</div>