<%= render 'layouts/logo' %>
<div class="row">
  <div class="small-12 columns">
    <h2>
      <%="Contact us" %>
    </h2>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <p>If you have any questions, you can email us at contact [at] hellotoken.com.
    Subscribe to our mailing list if you'd like to hear about any anouncements.
    </p>
    <div class="sendgrid-subscription-widget yellow" data-token="g6IiLYNRDTRE6VMyA7B6Rb1KX0mssSLMLrQiXjBXhaKj3WcnbwuWUJNvLtqFPMeU" data-css="false"></div>
  </div>
</div>
<br><br>

<script>
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?"http":"https";if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://s3.amazonaws.com/subscription-cdn/0.2/widget.min.js";fjs.parentNode.insertBefore(js,fjs);}}(document, "script", "sendgrid-subscription-widget-js");
  </script>