<meta name="hellotoken" content="Replace ads with simple one-click questions. Publishers: give readers access to the content they love and earn 10x the money. Researchers: connect directly with your target audiences, and serve dynamic questions on the fly.">

<section id="top" class="full-height">
  <div class="row">
    <div class="medium-12 columns">
      <div id="top-container">
        <div id="token-container">
          <div id="dummy-1"></div>
          <div class="ht-logo ht-logo-large"></div>
        </div>
      </div>
    </div>
    <div class="medium-12 columns">
      <div id="top-body">
        <h1>hellotoken</h1>
        <h3>The next generation of (delightful) content monetization.</h3>
        <%= link_to "Try it!", "http://demo.hellotoken.com/?p=5", :class => "yellow-button", :id => "top-cta-button" %>
        <%= link_to "Register", register_path, :class => "yellow-button" %>
      </div>
    </div>
  </div>
</section>
<section class="full-width full-height center-text" id="laptop-demo">
  <div class="row">
    <div class="medium-12 columns">
      <h2>Monetization with a single click.</h2>
      <div class="computer">
        <div class="macscreenwrap">
          <span class="camera"></span>
          <div class="macscreen">
            <div class="macscreen-container">
              <h6 class="laptop-blog-title">Hellotoken Times</h6>
              <p id="blog-post" class="laptop-text blokk">
              Replace ads with simple one-click questions. Publishers: give readers access to the content they love and earn 10x the money. Researchers: connect directly with your target audiences, and serve dynamic questions on the fly.
              </p>
              <p id="blog-post" class="laptop-text blokk">
              Problem: If online publishers don't find a sustainable way to make money within the next 5+ years, many of our favorite sites will disappear. Content monetization isn't just broken; it hasn’t truly existed since content has migrated online. For some of the largest publishers in the world, only 1.5% of their readers actually pay for the content. Imagine what’s it’s like for the less well-known publishers and blogs. Many content producers turn to ads, which often only pay a third of a cent per user. We’re not even going into the aesthetic problems with ads and paywalls, either.
              </p>
              <p id="blog-post" class="laptop-text blokk">
              Solution: We, at hellotoken, like to think of ourselves as the anti-ad. By answering just one question, we're able to pay the blog 3 cents, which is an order of magnitude higher than what they're making right now. We want to make sure the power lies in your hand as a reader too. Any question can be opted out of. Think of it as a question that you can answer in order to donate to and support the bloggers that you love. The questions that we serve are derived from companies and people who want to connect with their customers. We make it so that a budding startup can figure out what concept to go after or a designer can figure out which logo design is better. We also make sure that you stay anonymous to the companies that we help generate insights for.
              </p>
            </div>
          </div>
          <div class="laptop-overlay"></div>
          <div class="laptop-htoverlay">
            <div class="overlay-container">
              <div class="popup-container">
                <div class="laptop-title">
                  <div id="small-token-container">
                    <div id="dummy-1"></div>
                    <!---<div id="token-small"><div id="H">H</div></div>-->
                    <div class="ht-logo ht-logo-xsmall"></div>
                  </div>
                  <div class="title">
                    Continue Reading with a Click
                  </div>
                  <div class="subtitle">
                    You've read the max number of free article(s) - answer a question to keep going!
                  </div>
                </div>
                <div class="laptop-content">
                  <div class="question">Want your question here?</div>
                  <div class="answer">Definitely!</div>
                  <div class="answer">I'm already using it!.</div>
                  <div class="answer">Obviously.</div>
                  <div class="answer">Yes!</div>
                  <div class="answer">YES! YES! YES!</div>
                </div>
              </div>
            </div>
          </div>
        </div> 
        <div class="keypadtop">
          <div class="keyhold"></div> 
          <div class="speaker"></div>
        </div>
        <div class="keypadbottom"></div>
<!--         <div id="top-body" class="center-text">          
        </div> -->
      </div>
    </div>

  </div>
</section>
<section id="features" class="full-height full-width">
  <div class="row">
    <div class="medium-12 columns">
      <h2 class="center-text features-title">Features</h2>
    </div>
    <div class="medium-6 columns">
      <div id="publishers-section">
      <h3 class="feature-subtitle">Publishers</h3>
      <div class="feature">
        <div class="feature-circle"><div class="feature-icon fast-clock"></div></div>
        <div class="feature-description">
          <h3 class="feature-title">Quick Installation</h3>
          <p>
            1 plugin install. 5 minutes. Boom.
          </p>
        </div>
      </div>
      <div class="feature">
        <div class="feature-circle"><div class="feature-icon coin-pig"></div></div>
        <div class="feature-description">
          <h3 class="feature-title">Earn 10x More per Impression</h3>
          <p>
            More money, no ads.
          </p>
        </div>
      </div>
      <div class="feature">
        <div class="feature-circle"><div class="feature-icon happy-computer"></div></div>
        <div class="feature-description">
          <h3 class="feature-title">Delightful Experience</h3>
          <p>
            Our solution doesn't lose viewers.
          </p>
        </div>
      </div>
      </div>
    </div>
    <div class="medium-6 columns">
      <div id="researchers-section">
      <h3 class="feature-subtitle">Researchers</h3>
      <div class="feature">
        <div class="feature-circle"><div class="feature-icon feature-question"></div></div>
        <div class="feature-description">
          <h3 class="feature-title">Ask Readers Anything</h3>
          <p>
            Multiple Choice. Fill in the blank. You name it. 
          </p>
        </div>
      </div>
      <div class="feature">
        <div class="feature-circle"><div class="feature-icon feature-target"></div></div>
        <div class="feature-description">
          <h3 class="feature-title">Pinpoint Targeting</h3>
          <p>
            Distribute surveys based on specific demographics or by publication.
          </p>
        </div>
      </div>
      <div class="feature">
        <div class="feature-circle"><div class="feature-icon feature-chart"></div></div>
        <div class="feature-description">
          <h3 class="feature-title">Deep Analytics</h3>
          <p>
            Catered reports and visualizations of your research data. 
          </p>
        </div>
      </div>
    </div>
    </div>
  </div>

  <div class="cta-section center-text">
    <h2>Let's change the way we monetize content.</h2>
    <%= link_to "Try it!", "http://demo.hellotoken.com/?p=5", :class => "yellow-button" %>
    <%= link_to "Register", register_path, :class => "yellow-button" %>
  </div>
</section>




<script>
// var featuresFadedIn = false;
// function resizeLaptop(){
//   if($(window).width() < 340){
//     $('.overlay-container').width(220);
//   } else if($(window).width() <= 816){
//     $('.overlay-container').width($('.laptop-htoverlay').width() - 70);
//   } else {
//     $('.overlay-container').width(500);
//   }
// }

// This is the fade in for the the Features section icons and text
// function fadeInFeatures(){
//   var current, i;

//   current = $(document).scrollTop();
//   if (current > $('#laptop-demo').offset().top && !featuresFadedIn && $(window).width() >= 960) {
//     $('.features-container h2').fadeIn();
//     $('.feature-subtitle').animate({
//       opacity: 1
//     });
//     i = 0;
//     while (i < 3) {
//       $('#publishers-section .feature').eq(i).delay(i * 500 + 500).animate({
//         opacity: 1
//       }, 500 * i);
//       $('#researchers-section .feature').eq(i).delay(i * 500 + 500).animate({
//         opacity: 1
//       }, 500 * i);
//       i++;
//     }
//     $('.cta-section').delay((i + 1) * 500 + 500).animate({
//       opacity: 1
//     });
//   } else {
//     $('.features-container h2, .feature-subtitle, .feature, .cta-section').css('opacity', 1);
//   }
//   featuresFadedIn = true;
// }

$(document).ready(function(){
  // fadeInFeatures();

  $('.answer').click(function() {
    $('.laptop-htoverlay').fadeOut();
    $('.laptop-overlay').fadeOut();
  });

  $('.full-width').width($(window).width());

  $(window).resize(function() {
    $('.full-width').width($(window).width());
  });

  $('#top-cta-button').click(function() {
    $('html, body').animate({
      scrollTop: $('#laptop-demo').offset().top
    }, 1000);
  });

  $('#laptop-cta-button').click(function() {
    $('html, body').animate({
      scrollTop: $('#features').offset().top
    }, 1000);
  });

  // $(window).scroll(function(event) {
  //   if(!featuresFadedIn)
  //     fadeInFeatures();
  // });
});

</script>
