<%= render 'layouts/logo' %>
<div class="row">
  <div class="small-12 columns">
    <h2>
      <%="This page is unavailable." %>
    </h2>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <p> Please let us know if you think you've received this page in error.</p>
  </div>
</div>
<br>
<div class="row">
  <div class="small-12 columns">
    <%= link_to "Return Home", root_path, class: "yellow-button" %>
  </div>
</div>
<!-- <br><br> -->