<%= render 'layouts/logo' %>
<div class="row">
  <div class="small-12 columns">
    <h2>
      <%="Welcome to the club." %>
    </h2>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <p>You’re part of the dream team now. Your account is now live, and you may log in to your 
    <%= link_to "hellotoken account", login_path %></li>
    . We’re excited to have you on board. </p>
  </div>
</div>
<br>
<div class="row">
  <div class="small-12 columns">
    <%= link_to "Return Home", root_path, class: "yellow-button" %>
  </div>
</div>