<div class="row" style="padding-top: 30px">
  <div class="large-6 large-centered columns">

    <h3 id = "thanks">
      <%= "You successfully submitted your questions!" %>
    </h3>
  </div>
</div>
<div class="row">
  <div class="large-7 large-centered columns">
    <a href = "/questions/campaign" id = "thanks"><button class = "yellow-button">Create Another Campaign</button></a>
    <a href = "/dashboard" id="thanks"><button class = "yellow-button">Return to Dashboard</button></a></br>
  </div>
</div>