<div class="ht-sponsor-footer">
<a id="ht-sponsor_link" href=<%=researcher.get_website %> target="_blank" style="color:<%=researcher.get_text_color%>; background:<%=researcher.get_background_color%>"><%= researcher.get_sponsor_text %></a>
</div>

