<h2>Responses</h2>
<!--
  Use a wrapper div so that we can reload table with JS
  keep it simple so JS isn't overwhelemed
-->
<%= render 'table', responses: @responses %>
<%= link_to 'Admin Home', admin_path %>